{% extends 'base.html.twig' %}

{% block title %}Hello CocktailController!{% endblock %}

{% block body %}

    <div class="card" style="width: 18rem;" xmlns="http://www.w3.org/1999/html">
        <h5 class="card-title">{{ cocktail.drinks[0].strDrink }}</h5>
        <img class="card-img-top" src="{{ cocktail.drinks[0].strDrinkThumb }}" alt="Card image cap">
        <div class="card-body">
            <span class="card-text">{{ cocktail.drinks[0].strInstructions }}</span>
            <span>{{ cocktail.drinks[0].strIngredient1 }}</span>
            <span>{{ cocktail.drinks[0].strIngredient2 }}</span>
            <span>{{ cocktail.drinks[0].strIngredient3 }}</span>

        </div>
    </div>

{% endblock %}
