{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
     {{ encore_entry_link_tags('some_page') }}
    {% endblock %}
{% block title %}Hello TimeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container">
        <h1>Hello TIME ! ✅</h1>
        <div class="card">
            <img class="card-img-top" src="{{ data.photos[3].img_src }}" width="120px" height="120px" alt="">
            <div class="card">
                <img class="card-img-top" src="{{ data.photos[1].img_src }}" width="120px" height="120px" alt="">
            </div>
            <div class="card">
                <img class="card-img-top" src="{{ data.photos[2].img_src }}" width="120px" height="120px" alt="">
            </div>
            <div class="card">
                <img class="card-img-top" src="{{ data.photos[0].img_src }}" width="120px" height="120px" alt="">
            </div>
        </div>
        </div>
{% endblock %}
